@import 'params.styl'

nav-height = space*4

.top-nav
  color white
  width 100%
  position absolute
  top 0
  height nav-height
  line-height nav-height
  z-index 1
  overflow hidden
  opacity 0

.logo-left
  position relative
  float left
  height nav-height
  padding-top space*.75
  padding-left space

.nav-link
  font-size space
  padding 0 space-x-small
  cursor pointer
  color white !important

/*-------- Logo Data --------*/

#Logo
  padding 0
  height space*2

.logo-fade
  fill white
